<!-- <form (ngSubmit)="saveProduct()">
    <input type="text" name="productName" placeholder="Name" [(ngModel)]="product.productName" />
    <input type="text" name="productPrice" [(ngModel)]="product.productPrice" placeholder="price">
    <button type="submit">Save</button>
</form> -->


<form (submit)="updateProduct()">
    <label>Name:</label>
    <input type="text" [(ngModel)]="product.productName" name="name">
    <label>Price:</label>
    <input type="number" [(ngModel)]="product.productPrice" name="price">
    <button type="submit">Update Product</button>
</form>